:root {
  --rows: 10;
  --cells: 10;
}

body {
  background-color: rgb(49, 49, 49);
  font-family: 'Press Start 2P', cursive;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  justify-content: center;
  position: relative;
  border: 10px solid #000;
  background-color: rgb(121, 0, 0);
}

.border_3 {
  border-radius: 3px;

}

.message {
  padding: 10px;
  visibility: hidden;
  height: 100px;
  width: 500px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: rgb(169, 2, 2);
  z-index: 5;
  color: rgb(255, 255, 255);
  text-align: center;
}

.show {
  visibility: visible;
}

.message h1 {
}

.cell {
  border: 1px #000 solid;
  width: calc(100% / var(--rows));
  height: calc(100% / var(--cells));
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked {
  background-color: rgb(34, 114, 0);
  color: #fff;
}

.not-allowed {
  cursor: not-allowed;
}

.fa-bomb,#title {
  color: #000;
}

.fa-bomb-xl {
  font-size: 5rem;
}



