:root {
  --rows: 10;
  --cells: 10;
}

.debug {
  border: 1px red solid;
}

body {
  background-color: dodgerblue;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 500px;
  height: 500px;
  justify-content: center;
  border-radius: 5px;
  position: relative;
}

.message {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 510px;
  height: 500px;
  border-radius: 5px;
  left: 27%;
  background-color: rgba(143, 9, 9, 0.6);
  z-index: 5;
  color: rgb(255, 255, 255);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.message h1 {
  font-size: 5rem;
}

.cell {
  border: 1px #000 solid;
  width: calc(100% / var(--rows));
  height: calc(100% / var(--cells));
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked {
  background-color: rgb(26, 60, 154);
  color: #fff;
}
#level .form-select {
  width: 10%;
}

.not-allowed {
  cursor: not-allowed;
}
